.caption-slide{
  animation:top-one 15s ease infinite;  
}
.display-none{display:none !important;}
.display-block{display:block !important;}
  
/*

  @keyframes top-one {
     0% {
        transform:translateY(0);
    }
    6%{
      transform:translateY(18%)
    }
    25%{
      transform:translateY(-100%);
    }
    50%{
        transform:translateY(-100%);
    }
    100%{
      transform:translateY(-200%);
    }
}
@keyframes top-two {
     0% {
        transform:translateY(18%);
    }
      25%{
      transform:translateY(-100%);
    }
    50%{
      transform:translateY(-100%);
      
    }
    100%{
      transform:translateY(-200%);
    }
}
@keyframes top-three {
     0% {
        transform:translateY(18%);
    }
      25%{
      transform:translateY(-100%);
    }
    50%{
       transform:translateY(-100%);
    }
    100%{
      transform:translateY(-200%);
    }
}
*/
/* body section .caption:nth-child(1){
    animation:top-one 5s ease 5s  infinite;
 }

 body section .caption:nth-child(2){
    animation:top-two 5s ease  10s infinite;
 }

 body section .caption:nth-child(3){
    animation:top-three 5s ease 15s  infinite;
 }*/
/*body section .caption:first-child {display:block;}*/


