{% extends "layouts/default.html" %}

{# display page values using the {{entry.field_id}} tag. #}
{% block content %}
<section >
<div class="container-fluid banner">
	<img src="static/images/slide1.png" class="img-responsive"/>
	<div class="layer">
		<div class="content">
		{% for init in entry.slider.caption%}
			<div class="caption slide">
				<h2>{{init.headline}}</h2>
				<h4>{{init.description}}</h4>
				<button>{{init.button}}</button>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
<div class="container-fluid about">
		<div class="container">
			{% for init in entry.about.details %}
				<div class="col-md-4 text-center animblock-about notViewed" data-position="bottom">
					<h4>{{init.title}}</h4>
					{{init.description}}
					<button>{{init.button}}</button>
				</div>
			{% endfor %}
		</div>
</div>
<div class="works">
	<div class="container">
	<h2 class="text-center">{{entry.works_title}}</h2>
		{% for init in entry.works %}
				<div class="col-md-4 text-center animblock notViewed" data-position="bottom">
					<div class="img"><img src='{{getAssetUrl(init.logo)}}'></div>
					<h4>{{init.title}}</h4>
					{{init.desc}}
					
				</div>
		{% endfor %}
	</div>
</div>
<div class="slider">
	<div class="container-fluid">
					<div class="row col-md-12 col-xs-12 col-lg-12">
						<div class="left">
							<img src="static/images/cust.png" alt="" class="img-responsive">
							<div class="left-overlay"></div>
						</div>
						<h1>{{entry.customers.left.description}}<br><br>
						<img src='{{getAssetUrl(entry.customers.left.logo)}}'></h1>


						<div class="right">
							<div class="right-overlay">	</div>
						</div>

						<div class="right_content">
						<p>{{entry.customers.right.title}}</p>
						<span>{{entry.customers.right.description}}</span><br>
						<button type="">{{entry.customers.right.button}}</button><br>
						{% for init in entry.customers.right.logo %}
						<img src='{{getAssetUrl(init)}}'>
						{% endfor %}

						</div>
				</div>

	</div>
</div>
<div class="animation">
	<div class="container">
		
		<h2 class="text-center">vCloud Air: The most powerful,<br>most compatible cloud</h2>
		<h4 class="text-center"><span>2X</span> the compute power of Azure</h4>
		<h4 class="text-center"><span>3X</span> the storage performance of AWS</h4>
		
		<div class="animate text-center">

				<div class="col-md-6 text-center">
					<div class="x2">
						<img src="static/images/2x.png" class="img-responsive "/>
						<p>COMPUTE POWER</p>
					</div>
					<img src="static/images/twinkling-1.png" class="img-responsive twinkling1"/>
					
					<div class="azurebox">
					<img src="static/images/azure.png" class="img-responsive azure"/>
					<p>Azure</p>
					</div>

					<div class="x3">
					<img src="static/images/3x.png" class="img-responsive"/>
					<p>STORAGE</p>
					<p>PERFORMANCE</p>
					</div>
					<img src="static/images/aws.png" class="img-responsive aws"/>			
				</div>

			<div class="col-md-6 text-center">
				<img src="static/images/twinkling-2.png" class="img-responsive twinkling2"/>
				
					<div class="vcloudbox">
						<img src="static/images/vcloud.png" class="img-responsive vcloud"/>
						<p>vCloud</p>
					</div>
					<img src="static/images/twinkling-3.png" class="img-responsive twinkling3"/>
				
					<img src="static/images/globe.png" class="img-responsive globe"/>
			</div>
			
			
		</div>

	</div>

</div>















<!-- 
    <h1>{{entry.title}}</h1>
    
			<ul>
			<li><b>Title:</b> {{entry.title}}</li>
			<li><b>URL:</b> {{entry.url}}</li>
			<li><b>Header</b>:<br>
				<ul>
				<li>
					<b>Logo(url):</b> <img src='{{getAssetUrl(entry.header.logo)}}'>
				</li>
				<li><b>Tagline:</b> {{entry.header.tagline}}</li>
				<li><b>menu:</b>
					{% set entry_header_menu = entry.header.menu %}
					<ul>
					{% for _entry_header_menu in entry_header_menu -%}
						<li><b>menu</b>:<br>
							<ul>
							<li><b>Title:</b> {{_entry_header_menu.title}}</li>
							</ul>
						</li>
					{%- endfor %}
					</ul>
				</li>
				</ul>
			</li>
			</ul>
    <p style="color: #555; font-size: 14px">Note: Template automatically generated at "D:\VCloud Air CMS\vcloudair\site\views\templates\vcloudair\index.html"</p> -->
</section>
{% endblock %}